###########################
#WebStorm Files
###########################
.idea/
*ipr
*.iml

###########################
#NPM Files
###########################
node_modules/
npm-debug.log

###########################
#Angular2 Files
###########################
typings/
app/*.js
app/*.js.map
app/tasks/*.js
app/tasks/*.js.map
app/users/*.js
app/users/*.js.map